<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/courses/styleHeadFoot.css" rel="stylesheet">
    <!-- <link href="../css/homeSigned.css" rel="stylesheet"> -->

</head>

<body>


<div class="hbside1" id="hbsideid1">
    <div>
        <div class="hb1sidehead">
            <div class="hb1">
                <div class="hb1list pointer" id="openSide"
                    onclick="document.getElementById('hbsideid1').style.display='none'">
                    <span class="material-icons">
                        menu
                    </span>

                </div>
            </div>
            <div class="hb2">
                <a href="mainPage.html"><img src="https://assets.interntheory.com/creative/logo.png" /></a>
            </div>
        </div>
        <div>
            <a href="mainPage.html">
                <div>
                    <span class="material-icons">
                        home
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Home
                </div>
            </a>
        </div>

        <div>
            <a href="internship.html">
                <div>
                    <span class="material-icons">
                        view_list
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Internships
                </div>
            </a>
        </div>
        <div>
            <a href="jobs.html">
                <div>
                    <span class="material-icons">
                        work
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Jobs
                </div>
            </a>
        </div>
        <div>
            <a href="company_register.html">
                <div>
                    <span class="material-icons">
                        playlist_add
                    </span>

                </div>
                <div class="hb1sideheaddivadiv">
                    Post Internships
                </div>
            </a>
        </div>
        <div>
            <a href="online_courses.html">
                <div>
                    <span class="material-icons">
                        class
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Courses
                </div>
            </a>
        </div>
        <div>
            <a href="contact.html">
                <div>
                    <span class="material-icons">
                        call
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Contact Us
                </div>
            </a>
        </div>
        <hr>
        <div onclick="toggleRegister()">
            <a>
                <div>
                    <span class="material-icons">
                        subject
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Register
                </div>
            </a>
        </div>
        <div id="regCom">
            <a href="company_register.html">
                <div>
                    <span class="material-icons">
                        business
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Company
                </div>
            </a>
        </div>
        <div id="regStu">
            <a href="studentRegister_page.html">
                <div>
                    <span class="material-icons">
                        person
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Student
                </div>
            </a>
        </div>
        <div onclick="toggleLogin()">
            <a>
                <div>
                    <span class="material-icons">
                        meeting_room
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Login
                </div>
            </a>
        </div>
        <div id="logCom">
            <a href="login_page.html">
                <div>
                    <span class="material-icons">
                        business
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Company
                </div>
            </a>
        </div>
        <div id="logStu">
            <a href="login_page.html">
                <div>
                    <span class="material-icons">
                        person
                    </span>
                </div>
                <div class="hb1sideheaddivadiv">
                    Student
                </div>
            </a>
        </div>
    </div>
</div>
<div class="header sticky" id="myHeader">
    <div>
        <div class="hb1">
            <div class="hb1list pointer" onclick="document.getElementById('hbsideid1').style.display='block'">
                <span class="material-icons">
                    menu
                </span>

            </div>
        </div>
        <div class="hb2">
            <a href="mainPage.html"><img src="https://assets.interntheory.com/creative/logo.png" /></a>
        </div>
        <div class="hb3"></div>
        <div class="hb4">
            <div id="shopCart" class="pointer">
                <div>
                    <div id="cartNum">1</div>
                </div>
                <span class="material-icons">
                    shopping_cart
                </span>


            </div>
            <div class="signedUserPr" id="signin">
            
            
            </div>
           
        </div>
    </div>
</div>
    
</body>
</html>


<!-- <script src="../scripts/mainPage.js"></script>
<script src="../scripts/slideShow.js"></script>
<script src="../scripts/signedName.js"></script>
<script src="../scripts/sideTab.js"></script> -->