<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        
    </body>
</html>
<script>
    var signedValid = {
        signed:false
    }
    localStorage.setItem("loginValid",JSON.stringify(signedValid));
    window.location.href="/interntheory/home";
</script>